
/* Style for individual day tiles on hover */

/* .react-calendar__tile:enabled:hover:active  for cellphone?????? */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6; /* A light gray background on hover */
  color: black;
/* Match your active/selected state styling */
  cursor: pointer; /* Indicates it's interactive */
}

/* Style for active (selected) day tile on hover - if you want a different hover for selected */
/* .react-calendar__tile:enabled:hover:active  for cellphone?????? */
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #0056b3; /* A slightly darker blue for selected on hover */
  color: white;
}

/* Style for navigation buttons (arrows, month/year display) on hover */
/* .react-calendar__tile:enabled:hover:active  for cellphone?????? */
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f0f0f0; /* Light background on hover */
}
.react-calendar__month-view__weekdays {
  text-align: center;
}

.react-calendar {
  width:auto;
  border-radius: 15px;
  background-color: white;
  /* padding: 0.25rem; */
 }

.react-calendar__navigation {
  /* display: flex; */
  text-align: center;
  font-size: 2rem;

  margin-bottom: 1rem;
  margin-top:1rem;
  background-color: var(--color-primary-300);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: var(--color-primary-300);
  padding: 0.3rem;
  padding-top: 0.3rem;


  }
  .react-calendar__navigation__label {
    background-color: white;
    border-radius: 9999px;
    width: 50%;
  }
  .react-calendar__navigation__label__labelText {
    text-transform: uppercase;
    font-size:1.5rem;
  }
  .react-calendar__navigation button {

  }
  .react-calendar__navigation__arrow {
    color: white;
    padding: 0 0.35rem
  }
.react-calendar__month-view {
  padding-bottom: 1rem;
}

.react-calendar__navigation__label {
  /* color: var(--color-button-bg-primary); */
  /* background-color: #0056b3; */
}

.react-calendar__tile {
  color:#016942;
}

.react-calendar__tile abbr {
  background:none; width:30px; height:30px; display:inline-block; padding-top:3px;
}

.react-calendar__tile--active {
  background:none;
}

.react-calendar__tile:disabled {background:none; color:#ccc;}
.react-calendar__tile:enabled:hover, .react-calendar__tile:enabled:focus {background:none;}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {background:none;}
.react-calendar__tile--active abbr {
  background-color:var(--color-accent-200);
  border-radius:9999px;
  width:30px;
 height:30px;
  display:inline-block;
  padding-top:3px;
  color: black;
}
